<div class="container container-fluid mt-3">
    <div class="card border-info-subtle">
      <div class="card-header text-center fw-bold bg-info-subtle text-dark">
        <h2>Asignar Colaboradores al Evento</h2>
      </div>
      <div class="card-body">
        <div class="container row">
          <form [formGroup]="eventoForm" class="col-12 datos_evento">
            <h3>Información del Evento</h3>
            <div class="agrupaciones">
              <label for="local">
                <span>Local</span>
                <input class="form-control" type="text" id="local" formControlName="local" readonly>
              </label>
              <label for="cantidadPersonas">
                <span>Cantidad Personas</span>
                <input class="form-control" type="tel" id="cantidadPersonas" formControlName="cantidadPersonas" readonly>
              </label>
              <label for="encargado">
                <span>Encargado</span>
                <input class="form-control" type="tel" id="encargado" formControlName="encargado" readonly>
              </label>
              <label for="tipoEvento">
                <span>Tipo Evento</span>
                <input class="form-control" type="tel" id="tipoEvento" formControlName="tipoEvento" readonly>
              </label>
            </div>
            <div class="agrupaciones">
              <label for="fechaEvento">
                <span>Fecha Evento</span>
                <input class="form-control" type="date" id="fechaEvento" formControlName="fechaEvento" readonly>
              </label>
              <label for="horaInicio">
                <span>Hora Inicio</span>
                <input class="form-control" type="time" id="horaInicio" formControlName="horaInicio" readonly>
              </label>
              <label for="horaFin">
                <span>Hora Fin</span>
                <input class="form-control" type="time" id="horaFin" formControlName="horaFin" readonly>
              </label>
            </div>
          </form>
          <div class="container col-6" id="listadoColaboradores">
            <h3>Seleccionar Colaboradores</h3>
            <div class="separacion">
              <label for="colaborador">
                <span>Colaborador</span>
                <select name="" id="colaborador" class="form-select" [(ngModel)]="colaboradorSeleccionado">
                  @for(colaborador of colaboradores; track colaborador){
                    <option class="fw-medium" [value]="colaborador.id">{{colaborador.nombres}} {{colaborador.apPaterno}} - {{colaborador.cargo?.nombre}}</option>
                  }
                </select>
              </label>
            </div>
            <table class="table" id="contenedorColaboradores">
              <thead>
                <tr>
                  <th class="text-center">Colaborador</th>
                  <th class="text-center">Quitar</th>
                </tr>
              </thead>
              <tbody>
                @for(colaborador of colaboradoresSeleccionados; track colaborador){
                  <tr>
                    <td class="text-center">
                      <span>{{colaborador.nombres}} {{colaborador.apPaterno}} - {{colaborador.cargo?.nombre}}</span>
                    </td>
                    <td class="text-center">
                      <button class="btn btn-danger" id="quitar" (click)="quitarColaborador(colaborador.id!)"><mat-icon>close</mat-icon></button>
                    </td>
                  </tr>
                }
              </tbody>
            </table>
            <div class="agrupacion-botones-seleccionar">
              <div class="botones-seleccionar">
                <button class="btn btn-primary fw-bold" id="" (click)="verificarSeleccionColaborador()">Seleccionar</button>
              </div>
            </div>
          </div>
          <div class="container col-6" id="listadoColaboradoresEvento">
            <h3>Colaboradores del Evento</h3>
            <table class="table" id="contenedorColaboradoresEvento">
              <thead>
                <tr>
                  <th>Colaborador</th>
                  <th>Retirar del Evento</th>
                </tr>
              </thead>
              <tbody>
                @if(evento){
                  <tr *ngFor="let colaborador of evento.colaboradores;">
                    <td>
                      <span>{{colaborador.nombres}}</span>
                    </td>
                    <td>
                      <button class="btn btn-danger" id="quitar" (click)="confirmarRetiro(colaborador.id!)"><mat-icon>logout</mat-icon></button>
                    </td>
                  </tr>
                }
              </tbody>
            </table>
          </div>
          <div class="agrupacion-botones-confirmacion">
            <div class="botones-confirmacion">
              <button class="btn btn-primary fw-bold" id="asignarColaboradores" (click)="validarAsignacion()">Asignar Colaboradores</button>
              <button class="btn btn-success fw-bold" id="irListadoEventos" (click)="irListadoEventos()">Ir al Listado de Eventos</button>
              <button class="btn btn-primary fw-bold" id="irListadoEventos" (click)="validarGuardado()">Guardar Evento</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
