<div class="container container-fluid mt-3">
    <div class="card border-info-subtle">
      <div class="card-header text-center fw-bold bg-info-subtle text-dark">
        <h2>Asignar Colaboradores al Evento</h2>
      </div>
      <div class="card-body">
        <div class="container row">
          <div class="container col-6" id="listadoColaboradores">
            <div class="separacion">
              <label for="colaborador">
                <span>Colaborador</span>
                <input type="text" list="listaColaboradores" class="form-control" id="colaborador" [(ngModel)]="colaboradorSeleccionado">
                <datalist id="listaColaboradores">
                  <option class="fw-medium" *ngFor="let colaborador of colaboradores" [value]="colaborador.nombres"></option>
                </datalist>
              </label>
            </div>
            <h3>Colaboradores Seleccionados</h3>
            <table class="table" id="contenedorColaboradores">
              <thead>
                <tr>
                  <th>Colaborador</th>
                  <th>Quitar</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let colaborador of colaboradoresSeleccionados; trackBy: trackByColaborador">
                  <td>
                    <span [id]="'selected-'+colaborador.colaborador.id">{{colaborador.colaborador.nombres}}</span>
                  </td>
                  <td>
                    <button class="btn btn-danger quitar" (click)="quitarColaborador(colaborador.colaborador.id)"><mat-icon>close</mat-icon></button>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="agrupacion-botones-seleccionar">
              <div class="botones-seleccionar">
                <button class="btn btn-primary fw-bold" id="" (click)="verificarSeleccionColaborador()">Seleccionar</button>
                <button class="btn btn-primary fw-bold" id="" (click)="otroColaborador()"><mat-icon>restart_alt</mat-icon></button>
              </div>
            </div>
          </div>
          <div class="container col-6">
            <label for="evento">
              <span>Evento</span>
              <select class="form-select fw-medium" id="evento" [(ngModel)]="eventoSeleccionadoId" (change)="obtenerEventoSeleccionado()">
                <option class="fw-medium" *ngFor="let evento of eventos" [value]="evento.id">{{evento.nombre}}</option>
              </select>
            </label>
            <h3>Colaboradores del Evento</h3>
            <table class="table" id="contenedorColaboradoresEvento">
              <thead>
                <tr>
                  <th>Colaborador</th>
                  <th>Retirar del Evento</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let colaborador of eventoSeleccionado.colaboradores; trackBy: trackByColaborador">
                  <td>
                    <span [id]="'colaboradorEventoSelected-'+colaborador.id">{{colaborador.nombres}}</span>
                  </td>
                  <td>
                    <button class="btn btn-danger quitar" (click)="confirmarRetiro(colaborador.id!)"><mat-icon>logout</mat-icon></button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="agrupacion-botones-confirmacion">
            <div class="botones-confirmacion">
              <button class="btn btn-primary fw-bold" id="asignarColaboradores" (click)="validarAsignacion()">Asignar Colaboradores</button>
              <button class="btn btn-success fw-bold" id="irListadoEventos" (click)="irListadoEventos()">Ir al Listado de Eventos</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>