textarea{
  height: 150px;
}

label{
  display: block;
  width: 100%;
  margin: 6px 0;
}

button{
  margin-top: 16px;
}

input, textarea{
  border: 2px solid gray;
}

.agrupaciones{
  display: flex;
  gap: 12px;
}

.botones{
  display: flex;
  justify-content: center;
  gap: 12px
}
