a {
    text-decoration: none;
}

.agregado{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.agregado p {
  margin-bottom: 0;
}

.icono{
  display: flex;
  align-items: center;
  gap: 12px;
}

#header {
  position: absolute;
    height: 80px;
    z-index: 997;
    transition: all 0.5s;
    background: linear-gradient(to bottom right, #2d9bff, #4c5ef7);
    box-shadow: 0 4px 10px -3px hsla(0, 0%, 75%, 0.5);
}

#header .logo h1 a,
#header .logo h1 a:hover {
    color: #fff;
    text-decoration: none;
}

#header .logo img {
    padding: 0;
    margin: 0;
    max-width: 400px;
    height: auto;
}

.scrolled-offset {
    margin-top: 70px;
}

.navbar {
    padding: 0;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    position: relative;
}

.navbar a,
.navbar a:focus {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-size: 16px;
    font-weight: 500;
    color: #c8e1ffb0;
    white-space: nowrap;
    transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
    color: #ffffff;
}

.navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 14px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
}

.navbar .dropdown ul li {
    min-width: 200px;
}

.navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 15px;
    color: #2d9bff;
}

.navbar .dropdown ul a i {
    font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
    color: #2d99ffb9;
}

.navbar .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
}

@media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
        left: -90%;
    }

    .navbar .dropdown .dropdown:hover>ul {
        left: -100%;
    }
}

.navbar .h-button,
.navbar .h-button:focus {
    border: 2px solid #ffffff;
    padding: 10px 25px;
    margin-left: 30px;
    margin-right: 15px;
    border-radius: 10px;
    color: #fff;
}

.navbar .h-button:hover,
.navbar .h-button:focus:hover {
    color: #fff;
    background: linear-gradient(to bottom right, #2d9bff, #4c5ef7);
}


.sidebar {
    position: fixed;
    top: 80px;
    left: 0;
    bottom: 0;
    width: 300px;
    z-index: 996;
    transition: all 0.3s;
    padding: 20px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #aab7cf transparent;
    box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
    background-color: #fff;
}

  @media (max-width: 1199px) {
    .sidebar {
      left: -300px;
    }
  }

  .sidebar::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #fff;
  }

  .sidebar::-webkit-scrollbar-thumb {
    background-color: #aab7cf;
  }

  @media (min-width: 1200px) {

    #main,
    #footer {
      margin-left: 300px;
    }
  }

  @media (max-width: 1199px) {
    .toggle-sidebar .sidebar {
      left: 0;
    }
  }

  @media (min-width: 1200px) {

    .toggle-sidebar #main,
    .toggle-sidebar #footer {
      margin-left: 0;
    }

    .toggle-sidebar .sidebar {
      left: -300px;
    }
  }

  .sidebar-nav {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .sidebar-nav li {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .sidebar-nav .nav-item {
    margin-bottom: 5px;
  }

  .sidebar-nav .nav-heading {
    font-size: 11px;
    text-transform: uppercase;
    color: #899bbd;
    font-weight: 600;
    margin: 10px 0 5px 15px;
  }

  .sidebar-nav .nav-link {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
    color: #4154f1;
    transition: 0.3;
    background: #f6f9ff;
    padding: 10px 15px;
    border-radius: 4px;
  }

  .sidebar-nav .nav-link i {
    font-size: 16px;
    margin-right: 10px;
    color: #4154f1;
  }

  .sidebar-nav .nav-link.collapsed {
    color: #012970;
    background: #fff;
  }

  .sidebar-nav .nav-link.collapsed i {
    color: #899bbd;
  }

  .sidebar-nav .nav-link:hover {
    color: #4154f1;
    background: #f6f9ff;
  }

  .sidebar-nav .nav-link:hover i {
    color: #4154f1;
  }

  .sidebar-nav .nav-link .bi-chevron-down {
    margin-right: 0;
    transition: transform 0.2s ease-in-out;
  }

  .sidebar-nav .nav-link:not(.collapsed) .bi-chevron-down {
    transform: rotate(180deg);
  }

  .sidebar-nav .nav-content {
    padding: 5px 0 0 0;
    margin: 0;
    list-style: none;
  }

  .sidebar-nav .nav-content a {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    color: #012970;
    transition: 0.3;
    padding: 10px 0 10px 40px;
    transition: 0.3s;
  }

  .sidebar-nav .nav-content a i {
    font-size: 6px;
    margin-right: 8px;
    line-height: 0;
    border-radius: 50%;
  }

  .sidebar-nav .nav-content a:hover,
  .sidebar-nav .nav-content a.active {
    color: #4154f1;
  }

  .sidebar-nav .nav-content a.active i {
    background-color: #4154f1;
  }

  .example-sidenav-content {
    height: 100%;
     /* Si algo explota es este sr. */
    justify-content: center;

  }

  .example-container {
    overflow: hidden;
    height: 93%;
  }
  .example-sidenav-content {
    height: 100%;
     /* Si algo explota es este sr. */
    justify-content: center;

  }
  .example-sidenav {
     user-select: none;
  }
  .full-width {
    width: 100%;
  }
  .menu-button {
    transition: 300ms ease-in-out;
    transform: rotate(0deg);
  }
  .menu-button.rotated {
    transform: rotate(180deg);
  }
  .submenu {
    overflow-y: hidden;
    transition: transform 300ms ease;
    transform: scaleY(0);
    transform-origin: top;
    padding-left: 30px;
  }
  .submenu.expanded {
    transform: scaleY(1);
  }

  .inner-content{
    position: absolute;
    bottom: 0;
    left: 0;
  }
