<div class="container">
  <div class="row">
    <div class="col-lg-8 mx-auto">
      <div class="card my-5 border-3 border-dark-subtle">
        <div class="card-header bg-info-subtle border-3 border-dark-subtle">
          <h5 class="card-title text-center">Editar Servicio</h5>
        </div>
        <div class="card-body">
          <form (ngSubmit)="validarFormulario()">
            <div class="form-group">
              <div [formGroup]="servicioForm">
                <label for="nombre">
                  <span>Nombre</span>
                  <input type="text" id="nombre" formControlName="nombre" class="form-control" required>
                </label>
                <div class="agrupaciones">
                  <label for="precio">
                    <span>Precio</span>
                    <input type="number" name="precio" id="precio" formControlName="precio" class="form-control" required>
                  </label>
                  <label for="proveedor">
                    <span>Proveedor</span>
                    <div class="proveedores">
                      <select class="form-select" formControlName="proveedor">
                        @for (proveedor of proveedores; track proveedor) {
                          <option [value]="proveedor.id">{{proveedor.nombre}}</option>
                        }
                      </select>
                      <button type="button" class="btn btn-primary" (click)="confirmarAgregarProvedor()"><mat-icon>add</mat-icon></button>
                    </div>
                  </label>
                </div>
              </div>
            </div>
            <div class="botones">
              <button type="submit" class="btn btn-primary">Guardar</button>
              <button type="submit" class="btn btn-danger" (click)="regresarListadoServicios()">Regresar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

