<div class="container">
  <div class="row">
    <div class="col-lg-8 mx-auto">
      <div class="card my-5 border-3 border-dark-subtle">
        <div class="card-header bg-warning-subtle border-3 border-dark-subtle">
          <h5 class="card-title text-center">Crear Local</h5>
        </div>
        <div class="card-body">
          <form  (ngSubmit)="validarFormulario()">
            <div class="form-group">
              <div [formGroup]="localForm">
                <label for="nombre">
                  <span>Nombre</span>
                  <input autocomplete="off" type="text" id="nombre" formControlName="nombre" class="form-control" required>
                </label>
                <label for="descripcion">
                  <span>Descripcion</span>
                  <textarea autocomplete="off" name="descripcion" id="descripcion" formControlName="descripcion" class="form-control" required></textarea>
                </label>
                <label for="direccion">
                  <span>Direccion</span>
                  <input autocomplete="off" type="text" name="direccion" id="direccion" formControlName="direccion" class="form-control" required>
                </label>
                <div class="agrupaciones">
                  <label for="aforoMinimo">
                    <span>Aforo Mínimo</span>
                    <input autocomplete="off" type="number" id="aforoMinimo" formControlName="aforoMinimo" class="form-control" required>
                  </label>
                  <label for="aforoMaximo">
                    <span>Aforo Máximo</span>
                    <input autocomplete="off" type="number" id="aforoMaximo" formControlName="aforoMaximo" class="form-control" required>
                  </label>
                </div>
              </div>
              <h4>Precios por Dia</h4>
              <div>
                <div class="agrupaciones">
                  <label for="lunes">
                    <span>Precio Lunes</span>
                    <input autocomplete="off" type="number" id="lunes" [(ngModel)]="precioLunes" [ngModelOptions]="{standalone: true}" class="form-control precio" required>
                  </label>
                  <label for="martes">
                    <span>Precio Martes</span>
                    <input autocomplete="off" type="number" id="martes" [(ngModel)]="precioMartes" [ngModelOptions]="{standalone: true}"  class="form-control precio" required>
                  </label>
                  <label for="miercoles">
                    <span>Precio Miércoles</span>
                    <input autocomplete="off" type="number" id="miercoles" [(ngModel)]="precioMiercoles" [ngModelOptions]="{standalone: true}" class="form-control precio" required>
                  </label>
                  <label for="jueves">
                    <span>Precio Jueves</span>
                    <input autocomplete="off" type="number" id="jueves" [(ngModel)]="precioJueves" [ngModelOptions]="{standalone: true}" class="form-control precio" required>
                  </label>
                </div>
                <div class="agrupaciones">
                  <label for="viernes">
                    <span>Precio Viernes</span>
                    <input autocomplete="off" type="number" id="viernes" [(ngModel)]="precioViernes" [ngModelOptions]="{standalone: true}" class="form-control precio" required>
                  </label>
                  <label for="sabado">
                    <span>Precio Sábado</span>
                    <input autocomplete="off" type="number" id="sabado" [(ngModel)]="precioSabado" [ngModelOptions]="{standalone: true}" class="form-control precio" required>
                  </label>
                  <label for="domingo">
                    <span>Precio Domingo</span>
                    <input autocomplete="off" type="number" id="domingo" [(ngModel)]="precioDomingo" [ngModelOptions]="{standalone: true}" class="form-control precio" required>
                  </label>
                </div>
              </div>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
