label{
  display: block;
  width: 100%;
  margin: 6px 0;
}

button{
  margin-top: 16px;
}

input, select{
  border: 2px solid gray;
}

.agrupaciones{
  display: flex;
  gap: 12px;
}

.tipo_buffet{
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.tipo_buffet button{
  padding: 0;
  margin: 0;
}

.correcto{
  background-color: #ADD899;
}

.incorrecto{
  background-color: #FF6969;
}

.botones{
  display: flex;
  justify-content: center;
  gap: 12px
}
