<div class="container">
  <div class="row">
    <div class="col-lg-8 mx-auto">
      <div class="card my-5">
        <div class="card-header bg-info-subtle">
          <h5 class="card-title text-center">Crear Evento</h5>
        </div>
        <div class="card-body">
          <form [formGroup]="eventoForm" (ngSubmit)="validarConfirmacion()">
            <label for="localId">
              <span>Local</span>
              <select class="form-select" formControlName="localId" required>
                <option *ngFor="let local of locales" [value]="local.id">{{ local.nombre }}</option>
              </select>
              <button type="button" class="btn btn-primary" (click)="confirmarAgregarBuffet()"><mat-icon>add</mat-icon></button>
            </label>
            <label for="diaId">
              <span>Día</span>
              <input type="date" formControlName="diaId" class="form-control" required>
            </label>
            <label for="cantidadPersonas">
              <span>Cantidad de Personas</span>
              <input type="number" formControlName="cantidadPersonas" class="form-control" required>
            </label>
            <label for="tipoBuffetId">
              <span>Tipo de Buffet</span>
              <select class="form-select" formControlName="tipoBuffetId" required>
                <option *ngFor="let tipoBuffet of tipoBuffets" [value]="tipoBuffet.id">{{ tipoBuffet.nombre }}</option>
              </select>
              <button type="button" class="btn btn-primary" (click)="irNuevoBuffet()">Agregar Tipo de Buffet</button>
            </label>
            <div class="text-center">
              <button type="submit" class="btn btn-primary">Crear</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
