<body>
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-xl-9 mx-auto">
          <div class="card flex-row my-5 border-0 shadow rounded-3">
            <div class="card-img-left d-none d-md-flex">
            </div>
            <div class="card-body p-4 p-sm-5">
              <h5 class="card-title text-center mb-5">INICIO DE SESIÓN</h5>
              <form (ngSubmit)="iniciarSesion()" [formGroup]="loginForm">

                <div class="form-floating mb-3">
                  <input type="text" class="form-control" name="email"
                  autofocus placeholder="Email" required formControlName="email">
                  <label for="floatingInputUsername">Email</label>
                </div>

                <div class="form-floating mb-3">
                  <input type="password" class="form-control" name="contrasena"
                  placeholder="Contraseña" required formControlName="contrasena">
                  <label for="floatingPassword">Contraseña</label>
                </div>

                <div class="d-grid mb-2">
                  <button class="btn btn-lg  btn-login" type="submit">Ingresar</button>
                </div>

                <div class="d-grid mb-2">
                    <button class="btn btn-lg btn-regist" [routerLink]="['/register']">Registrarse</button>
                </div>
                <hr>
                <a class="d-block text-center mt-2 small problems" [routerLink]="['/recuperar-cuenta']">¿Problemas para iniciar sesión? Click aquí</a>
                <a class="d-block text-center mt-2 small problems" style="color: rgb(255, 0, 0);" [routerLink]="['/']">Regresar</a>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
